.app {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.error{
    color: red;
}

/* Styling for user list */
.user-list {
    width: 80%;
    margin: 0 auto;
  }
  
  /* Styling for buttons */
  .btn {
    padding: 5px 10px;
    cursor: pointer;
  }
  
  